* {
    margin:0;
    box-sizing: border-box;
}

.wrapper{

    width: 85%;
    margin: 0 auto;
    }

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150%;
    padding: 0;

}

nav {
    background: linear-gradient(to right, #F5EBEB 95%, #FCFAF5 100%); /*I googled the syntax to make a gradient transition between nav and main*/
    padding: 1% 2%;                                                     /* I chose 95% because I like the sharp gradient effect*/
    width: 20%;


}

nav ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 5% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #85A070;
    color: #FCFAF5;
    width: 12vw;
    height: 11vh;


}
nav a {
    color: #FCFAF5;
    font-family: "Arial Black", sans-serif;
    font-size: calc(2px + 1.2vw);
    text-decoration: none;
}
header{
    background-color: #D45B5B;
    padding: 1% 1% 1% 7%;
    margin: 0;
    height: 10%

}
main {
    background-color: #FCFAF5;
    font-size: calc(2px + 1.4vw);
    width: 80%;
    text-align: center;
    padding: 2% 5%;

    }



h1{
    color: #FCFAF5;


}
h3{
    color: #FCFAF5;


}
h6{
    color: #FCFAF5;
    font-size: calc(2px + 1.5vw);

}

.Credits-text{
    color: #FCFAF5;
    font-size: calc(2px + 1.5vw);

}

h5{
    color: #4A4A4A;
    font-size: calc(3px + 1.5vw);
    margin-top: 2%;
    margin-bottom:2%;




}
p {
    margin: 1%;
    color: #4A4A4A;

}

footer{
    padding-left: 2%;
    padding-top: 2%;
    height: 10vh;
    background-color: #D45B5B;
}

ul{
    padding-left: 0;
}

li{

    margin-top: 2%;
    margin-bottom: 2%;
    list-style: none;
    color: #4A4A4A;


}

.calc_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7%

}

.calc_container button {
    margin-left: 2%;
    margin-right: 2%;
    font-size: calc(4px + 1.2vw);
    padding: 1% 2.7%;
    border-radius: 50%;
    background-color: #D45B5B;
    border-color: #FCFAF5;
    border-width: 6px;
    border-style: ridge;
    color: #FCFAF5;
    font-family: "Bauhaus 93" , sans-serif;

}



.inputBox{
    width: 70%;
    height: 11vh;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    font-size: calc(6px + 1.2vw);
    border-color: #D45B5B;
    border-width: 4px;
    border-style: ridge;

}

#outputBox{

    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2% 5% 2% 25.25%;
    padding-top: 2%;
    background-color: #FFFFFF;
    width: 50%;
    height: 11vh;
    border-color: #D45B5B;
    border-width: 4px;
    border-style: ridge;
    font-size: calc(6px + 1.7vw);
}


#ACPhoto{
    height: 57%;
    width: 35%;
    margin: 3% 0;
}

#BUPhoto{
    height: 30%;
    width: 35%;


}

#NWECHSPhoto{
    height: 30%;
    width: 35%;
    margin: 2% 0;
}

#CNPhoto{
    height: 35%;
    width: 60%;
    margin: 2% 0;
}

#SkillsPhoto{
    height: 25%;
    width: 25%;
    margin: 2% 0;
}

#AchPhoto{
    height: 37%;
    width: 25%;
    margin: 2% 0;
}

#calcPhoto{
    height: 27%;
    width: 25%;
    margin: 3% 0;
}

#calc-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.labels{
    margin: 4% 0;
    font-family: "Bauhaus 93", Playbill, sans-serif;
    font-size: calc(8px + 1.5vw);


}


@media screen and (max-width: 800px){

    .wrapper{
        width: 90%;
    }

    .content{
        flex-direction: column;

    }

    footer{
        height: 5vh;
    }

    nav {
        width: 100%;
        height: 10vh
    }
    nav ul {
        flex-direction: row;
        justify-content: center;

    }
    nav li{
        margin: 2% 0.5%;
        height: 6vh;
        width: 20vw;
        padding: 1%;
    }
    nav a{
        font-size: calc(3px + 1.2vh);
    }
    main{
        width: 100%;
        height: 100%;
        font-size: calc(5px + 1.2vh);

    }



    h5{
        font-size: calc(9px + 1.2vh);
    }



    #ACPhoto{
        height: 60%;
        width: 55%;

    }

    #AchPhoto{
        height: 40%;
        width: 30%;

    }
    #calcPhoto{
        height: 17vh;
        width: 27%;

    }
    #SkillsPhoto{
        height: 27%;
        width: 33%;
    }

    .calc_container button{
        font-size: calc(8px + 1.5vw);
    }

    .inputBox{
        width: 60%;
        height: 7vh;
        margin-left: 9%;
        font-size: calc(7px + 1.8vw);
    }

    #outputBox{
        padding-top: 3%;
        height: 8vh;
        font-size: calc(12px + 1.7vw);
    }



    #calc-form{
        flex-direction: column;
    }
}